<div class="parser-chain">
  <button (click)="collapseAllParsers()">Collapse All</button>
  <div *ngFor="let parserId of parsers; trackBy: trackByFn; i: index" class="parser-chain-item">
    <div class="chain-item">
      <app-parser-composer
        [parserCollapseState]="parserCollapseStateArray[i]"
        [parserId]="parserId"
        [chainId]="chainId"
        [dirty]="(dirtyParsers || []).includes(parserId)"
        [metaDataForm]="metaDataForm"
        (subchainSelect)="onChainSelected($event)"
        (parserRemove)="onParserRemove($event)"
        (parserChange)="onParserChange($event)"
      ></app-parser-composer>
    </div>
  </div>
</div>
