<nz-card class="parser-chain" *ngIf="chain" [nzTitle]="breadcrumbsCardTitle">
  <div class="add-parser">
    <a routerLink="new">Add new parser</a>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="10">
      <app-chain-view
        [parsers]="(breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].parsers) || (chain && chain.parsers)"
        [dirtyParsers]="(dirtyChains[(breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].id) || (chain && chain.id)] || { parsers: [] }).parsers"
        (removeParserEmitter)="removeParser($event)"
        (chainLevelChange)="onChainLevelChange($event)"
        (parserChange)="onParserChange($event)"
      ></app-chain-view>
    </div>
    <div nz-col nzSpan="14">
      <app-live-view [chainConfig$]="chainConfig$"></app-live-view>
    </div>
  </div>
</nz-card>

<ng-template #breadcrumbsCardTitle>
  <nz-breadcrumb>
    <a
        class="chain-edit-btn"
        href="#"
        (click)="onBreadcrumbEditClick($event, chain)"
        data-qe-id="chain-name-edit-btn"
        nz-button
        nz-popover
        [nzPopoverContent]="inputChainNameContent"
        nzPopoverTrigger="click"
        [(nzVisible)]="popOverVisible"
        nzPopoverPlacement="bottom"
        nzType="default"
        >
        <i nz-icon nzType="edit" nzTheme="fill"></i>
      </a>
      <ng-template #inputChainNameContent>
        <div>
          <span>Set Chain Name</span>
          <form [formGroup]="editChainNameForm" (ngSubmit) = "onBreadcrumbEditDone(chain)">
            <div class="custom-form-group">
                <input
                  formControlName="name"
                  required
                  nz-input
                  #chainNameInput
                  type="text"
                  placeholder="Min 3 Characters"
                  data-qe-id="chain-name-field" />
            </div>
            <div class="custom-form-group">
              <button type="button" nz-button data-qe-id="edit-chain-name-cancel-btn" nzSize="small" (click)="onBreadcrumbEditCancel()">Cancel</button>&nbsp;
              <button type="submit" nz-button data-qe-id="edit-chain-name-submit-btn" nzSize="small" nzType="primary" [disabled]="!editChainNameForm.valid || !editChainNameForm.dirty">Set</button>
            </div>
          </form>
        </div>
      </ng-template>
    <nz-breadcrumb-item class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; index as i">
      <span *ngIf="!!dirtyChains[breadcrumb.id]">
        <i nz-icon nzType="exclamation-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'" nz-tooltip nzTooltipTitle="Save the changes"></i>&nbsp;
      </span>
      <span>
        <a *ngIf="i < breadcrumbs.length - 1" href="#" (click)="onBreadcrumbClick($event, breadcrumb)">{{ breadcrumb.name }}</a>
        <span *ngIf="i === breadcrumbs.length - 1">{{ breadcrumb.name }}</span>
      </span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="chain-actions">
    <button nz-button nzType="default" type="button" (click)="onResetChanges($event)" [disabled]="!dirty">
      Reset
    </button>
    <button nz-button nzType="primary" type="button" (click)="onSaveChanges($event)" [disabled]="!dirty">
      Save
    </button>
  </div>
</ng-template>
