
.add-parser {
  margin-bottom: 10px;
}

.chain-actions button {
  margin-left: 10px;
}

.error-breadcrumb {
  color: var(--warning);

  &:hover {
    cursor: pointer;
  }
}

.custom-form-group {
  margin: 5px auto !important;
  text-align: right;
}

.chain-edit-btn {
  background: transparent;
  border: 0px;
}
.add-new-parser-button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
