<nz-card class="parser-chain" *ngIf="chain" [nzTitle]="breadcrumbsCardTitle">
  <div class="add-parser">
    <a routerLink="new">Add new parser</a>
  </div>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="10">
      <app-chain-view
        [chainId]="chain.id"
        [parsers]="(breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length - 1].parsers) || (chain && chain.parsers)"
        [dirtyParsers]="dirtyParsers"
        (removeParserEmitter)="removeParser($event)"
        (chainLevelChange)="onChainLevelChange($event)"
        (parserChange)="onParserChange($event)"
      ></app-chain-view>
    </div>
    <div nz-col nzSpan="14">
      <app-live-view [chainConfig$]="chainConfig$"></app-live-view>
    </div>
  </div>
</nz-card>

<ng-template #breadcrumbsCardTitle>
  <nz-breadcrumb>
    <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; index as i">
      <span *ngIf="dirtyChains.includes(breadcrumb.id)">
        <i nz-icon nzType="exclamation-circle" nzTheme="twotone" [nzTwotoneColor]="'#f00'"></i>
      </span>
      <a *ngIf="i < breadcrumbs.length - 1" href="#" (click)="onBreadcrumbClick($event, breadcrumb)">{{ breadcrumb.name }}</a>
      <span *ngIf="i === breadcrumbs.length - 1">{{ breadcrumb.name }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="chain-name">
    <span *ngIf="(!editMode)">
      <span (dblclick)="toggleEditMode()">{{ chain.name }}</span> <button (click)="toggleEditMode()" data-qe-id="chain-name-edit-btn" nz-button
      nzType="default" class="chain-edit-btn"><i nz-icon nzType="edit" nzTheme="fill"></i></button>
    </span>
    <span *ngIf="(editMode)">
      <input #chainNameInput type="text" value ="{{ chain.name }}" (keyup.enter)="updateChainName()" (blur)="updateChainName()" data-qe-id="chain-name-field">
    </span>
  </div>
  <div class="chain-actions">
    <button nz-button nzType="default" type="button" (click)="onResetChanges($event)" [disabled]="!dirty">
      Reset
    </button>
    <button nz-button nzType="primary" type="button" (click)="onSaveChanges($event)" [disabled]="!dirty">
      Save
    </button>
  </div>
</ng-template>
