.parser-dirty {
  position: absolute;
  left: -4px;
  top: -9px;
}

.parser-delete-btn {
  right: -18px;
  color: rgb(20,20,20);
  .anticon-delete {
    opacity: 0.6;
  }
}

.parser-delete-btn:hover .anticon-delete {
  opacity: 0.8;
}
.investigated {
  border-left: 4px solid red;
}
