<div class="parser">
  <nz-card class="chain-item" [nzBordered]="true" [nzTitle]="parser.name" [nzExtra]="extraTemplate">
    <nz-tabset nzTabPosition="top" nzType="line">
      <nz-tab nzTitle="Basics">
        Parser Class: {{ parser.name }}
      </nz-tab>
      <nz-tab nzTitle="Config">
        <div class="router-config" *ngIf="parser.config && parser.config.routes">
          <div class="matching-field">
            Matching field: {{ parser.config.matchingField }}
          </div>
          <div class="routes">
            <nz-table [nzData]="parser.config.routes" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>Match</th>
                  <th>Parsers</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let route of parser.config.routes">
                  <td>{{ route.matchingValue }}</td>
                  <td>
                    <div class="subchain">
                      <a
                        class="subchain-items"
                        href="#"
                        (click)="onSubchainItemClick($event, route.subchain)"
                        title="{{ getParserNamesArray(route.subchain.parsers).join(' > ') }}"
                      >
                        {{ getParserNamesArray(route.subchain.parsers).join(' > ') }}
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Outputs">
        Outputs tab
      </nz-tab>
      <nz-tab nzTitle="Advanced">
        Advanced tab
        <ngx-monaco-editor
          class="advanced-editor"
          [options]="{}"
        ></ngx-monaco-editor>
      </nz-tab>
    </nz-tabset>
  </nz-card>
  <ng-template #extraTemplate>
    <button
      nz-popconfirm
      nzPopconfirmTitle="Are you sure delete this task?"
      (nzOnConfirm)="onRemoveParser(parser.id)"
      nzPopconfirmPlacement="right"
      nz-button
      nzType="link"
      data-qe-id="remove-parser"
    >
      Remove Parser
    </button>
  </ng-template>
</div>
