<div *ngIf="parser" class="parser-container">
  <app-parser
    *ngIf="parser.type !== 'Router'"
    [parser]="parser"
    [dirty]="dirty"
    [configForm]="configForm"
    [metaDataForm]="[{ name: 'name', type: 'text', label: 'Name' }]"
    [isolatedParserView]="isolatedParserView"
    [parserType]="parserType"
    (parserChange)="onParserChange($event)"
    (removeParser)="onRemoveParser($event)"
  ></app-parser>
  <app-router
    *ngIf="parser.type === 'Router'"
    [parser]="parser"
    [dirty]="dirty"
    [metaDataForm]="[{ name: 'name', type: 'text', label: 'Name' }]"
    (subchainSelect)="onSubchainSelect($event)"
    (parserChange)="onParserChange($event)"
    (removeParser)="onRemoveParser($event)"
    (routeAdd)="onRouteAdd($event)"
  ></app-router>
</div>
