<div nz-row>
  <div nz-col nzSpan="22">
    <h3>Live View</h3>
  </div>
  <div nz-col nzSpan="2" class="live-view-toolbar">
    <nz-spin *ngIf="isExecuting$ | async" nzSimple></nz-spin>
  </div>
</div>
<nz-tabset>
  <nz-tab nzTitle="Sample Data">
    <app-sample-data-form
      [sampleData]="sampleData$ | async"
      (sampleDataChange)="sampleDataChange$.next($event)"
      ></app-sample-data-form>
  </nz-tab>
  <nz-tab nzTitle="Result">
    <app-live-view-result [results]="results$ | async"></app-live-view-result>
  </nz-tab>
</nz-tabset>
